@charset="UTF-8";

body {
	background-color: rgb(176, 196, 222);
	font-family: arial;
	font-size: 12pt;
}
interface {
	width: 900px;
	background-color: #FFFFF;
	margin: 30px auto 10px auto;
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
 h2#botao {
	 width:20;
	 height:50;
	 background-color:green;
	 text-align:center;
	
 }